@model IEnumerable<LibraryManagementSystem.Models.Book>
@{
    ViewData["Title"] = "Books";
}

<h1 class="text-info">Books</h1>
@if (User.IsInRole("Admin"))

{
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New Book</a>
    </p>
}

<form asp-action="Index" method="get" class="mb-3">
    <div class="form-group">
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="Search Books..." />
            <div class="input-group-append">
                <button class="btn btn-outline-light bg-primary" type="submit">Search</button>
                <a asp-action="Index" class="btn btn-outline-secondary">Clear</a>
            </div>
        </div>
    </div>
</form>

<table class="table table-dark table-hover table-bordered shadow-sm">
    <thead class="thead-light">
        <tr>
            <th><a asp-action="Index" asp-route-sortOrder="@ViewData["TitleSortParm"]">@Html.DisplayNameFor(model => model.Title)</a></th>
            <th><a asp-action="Index" asp-route-sortOrder="@ViewData["AuthorSortParm"]">@Html.DisplayNameFor(model => model.Author)</a></th>
            <th>@Html.DisplayNameFor(model => model.ISBN)</th>
            <th>@Html.DisplayNameFor(model => model.Quantity)</th>
            <th>@Html.DisplayNameFor(model => model.IsAvailable)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)

        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Author)</td>
                <td>@Html.DisplayFor(modelItem => item.ISBN)</td>
                <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                <td>@Html.DisplayFor(modelItem => item.IsAvailable)</td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-light btn-sm">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm">Delete</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
